div {  margin: 3%; border: 2px  }

body {   background-color: #fafafa;   }

#bg {  max-width: 100%; }

h1 {  text-align: center; color: #efefef;  }

hr {border: 0; height: 1px; background: #000;
    background-image: -webkit-linear-gradient(left, #fff, #000, #fff);
    background-image: -moz-linear-gradient(left, #fff, #000, #fff);
    background-image: -ms-linear-gradient(left, #fff, #000, #fff);
    background-image: -o-linear-gradient(left, #fff, #000, #fff);}

@import url('https://fonts.googleapis.com/css?family=Arimo');
.top-menu {
  position: relative;
  background: #333333;
}
.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-main:after {
  content: "";
  display: table;
  clear: both;
}
.left-item {float: left;}
.right-item {float: right;}
.navbar-logo {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%,-50%);
  font-size: 35px;
}
.menu-main a {
  text-decoration: none;
  display: block;
  line-height: 80px;
  padding: 0 20px;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: #efefef;
  transition: .3s linear;
}
.menu-main a:hover {background: rgba(0,0,0,.3);}
@media (max-width: 830px) {
.menu-main {
  padding-top: 90px;
  text-align: center;
}

.menu-main li {
  float: none;
  display: inline-block;
}
.menu-main a {
  line-height: normal;
  padding: 20px 15px;
  font-size: 16px;
}
}
@media (max-width: 630px) {
.menu-main li {display: block;}
}
#body_div {
margin: 0 auto;
}

.form_hello {
    display: block;
    margin: auto;
    width: 30%;

  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgb(51 51 51);
  height:225px;
}
#head_hello {
    display: block;
    margin: auto;
    width: 50%;
    padding-bottom: 20px;
}

.hello_center {
text-align: center;
font-family: 'Pattaya', sans-serif;
}
#name_font {
color: #401313;
font-size: 60px;
margin-bottom: 0px;
}
#address_font{
font-size: 30px;
color: #333;
}

.form_hello button {
margin-top: 10px;
height:30px;
box-shadow:0px 0px 4px 0px rgb(134 127 127);
width: 50%;
display: flex;
align-items: center;
justify-content: center;
  }
 .form_hello input {
 display: grid;
 text-align: right;
 margin-right: 20px;
 height: 30px;
 border-radius:5px;
 border 0px;
box-shadow:0px 0px 0px rgb(51 51 51);
 }
 .form_hello p{
 display: grid;
 }
  .form_hello label{
  font-family: 'Josefin Sans', sans-serif;
 }

.form_blog {
    display: block;
    margin: auto;
    width: 70%;

  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgb(51 51 51);
  height: absolute;
}
.form_blog button {
margin-top: 20px;
margin: 0 auto;
margin-bottom: 10px;
height:30px;
box-shadow:0px 0px 4px 0px rgb(134 127 127);
width: 50%;
display: flex;
align-items: center;
justify-content: center;
border-radius:10px;
  }
 .form_blog_input {
 display: grid;
 margin-right: 20px;
 height: 30px;
 border-radius:5px;
 border 0px;
box-shadow:0px 0px 0px rgb(51 51 51);
 }

 .form_blog p{
 display: grid;
 }
  .form_blog label{
  font-family: 'Josefin Sans', sans-serif;
 }