{% extends "_base.html" %}

{% block main %}
  <h2 class="hello_center" id="name_font">Read blog, {{name}} !</h2>

  <form method="post" action="/b/new/" class="form_blog">
      {% csrf_token %}
      <p><label>Title</label>
        </p>
      <p><input class="form_blog_input" name="title"></p>
      <p><label>what do you think about it?</label></p>
      <p><textarea class="form_blog_input" name="content"></textarea></p>
      <button type="submit">Tell</button>
  </form>

<hr>
  {% for post in object_list %}
    <article class="blog_box">
        <a href="/b/{{post.id}}">{{ post.title }}</a>
        <hr>
      <section>{{ post.content | truncatewords:30  }}</section>
        <hr>
      <p>{{ post.created_at }}  likes= {{ post.nr_likes }}  views= {{ post.nr_views }}</p>
        <form method="post" action="/b/{{post.pk}}/delete/">
            <button type="submit">Delete</button>
        </form>

    </article>
  {% endfor %}

{% endblock %}