{% extends "_base.html" %}

{% block main %}
<div>
  <div id="head_hello">
<h2 class="hello_center" id="name_font">Hello, {{name}}!</h2>
<p class="hello_center" id="address_font">You are at {{address}} now</p>
    </div>
<div class="form_hello">
<form method="post" action="/h/">
  {{ form.as_p }}

    <button class="form_hello">Send</button>

  {% csrf_token %}
</form>
  <form method="post" action="/h/reset/">
        <button class="form_hello">Reset</button>
    {% csrf_token %}
  </form>
  </div>
</div>
{% endblock %}